.food-recomend {
  .recomend-box {
    margin-top: 15px;
  }
}

.recomend-item {
  display: flex;
  align-items: center;
  margin: 15px 0;

  .recomend-img {
    width: 58px;
    height: 58px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
    }
  }

  .item-information {
    margin-left: 10px;
    flex: 1;

    .item-name {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }
}

.item-link {
  color: var(--black);
  font-weight: bold;
  font-size: 1.6rem;
}

.price {
  margin-top: 2px;
  font-size: 1.6rem;
  color: var(--gray);
}
